// Colors
$color-primary: #e09264;
$color-secondary: #64b2e0;
$color-white: #ffffff;
$color-purple: #68427f;
$color-purple-light: #a968d0;
$color-ruin: #524f4c;
$color-ruin-light: #777370;

//Units
$unit1: 4px;
$unit2: 8px;
$unit3: 16px;
$unit4: 32px;
