.goals-list {
  display: flex;
  padding: $unit3 0;
}

.goal-card {
  width: 25%;
  padding: 0 $unit2;

  display: flex;
  flex-direction: row;

  &--inactive {
    opacity: 0.3;
  }

  &__types {
    margin-right: $unit1;
  }
}
