body {
  font-family: 'Noto Serif', serif;
  background: linear-gradient(to top, #3a3128, #41352b, #483a2e, #503e31, #584235);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  color: #ffffff;
}

.app-container {
  width: 100%;
  width: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
}

.logo {
  width: 50%;
  max-width: 150px;
}

.logo-small {
  width: 20%;
  max-width: 80px;
}

h1 {
  text-transform: uppercase;
}

.btn--outline.MuiButton-root {
  color: #e09264;
  border-color: #e09264;
  margin: 4px 8px;
}

.home,
.setup {
  flex: 1;
  width: 100%;
  min-height: 90vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-over {
  flex: 1;
  text-align: center;
}
.game-over .logo {
  margin-top: 32px;
}

.goals__actions {
  text-align: center;
}

.title {
  text-align: center;
}

.subtitle {
  text-align: center;
}

.score-items {
  list-style: none;
  text-align: center;
  margin-left: 0;
}

.header {
  display: flex;
  flex-direction: row;
}
.header.MuiAppBar-colorPrimary {
  background: #e09264;
}
.header.MuiAppBar-root {
  flex-direction: row;
  padding: 0 16px;
}
.header.MuiAppBar-root h3 {
  flex: 2;
  text-align: center;
  text-transform: uppercase;
}

.goals-list {
  display: flex;
  padding: 16px 0;
}

.goal-card {
  width: 25%;
  padding: 0 8px;
  display: flex;
  flex-direction: row;
}
.goal-card--inactive {
  opacity: 35%;
}
.goal-card__types {
  margin-right: 4px;
}

.card {
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
  box-shadow: black 3px 3px 10px;
}
.card--padded {
  margin: 0 16px;
}

.card-container {
  width: 200px;
  position: relative;
}

.card-mini {
  width: 50px;
  border-radius: 5px;
  box-shadow: black 2px 2px 5px;
}
.card-mini--ruin {
  width: 60px;
  left: auto;
  right: -15px;
  top: 25px;
  transform: rotate(15deg);
  border: 2px solid white;
  position: absolute;
}

.card-icon {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.card-icon--selected {
  box-shadow: black 2px 2px 5px;
  left: -55px;
  top: 75px;
}
.card-icon--inline-title {
  transform: translateY(13px);
  box-shadow: black 2px 2px 5px;
  margin: 0 8px;
}

.card--faded-left {
  width: 70%;
  opacity: 0.3;
}

.card--faded-right {
  width: 70%;
  opacity: 0.5;
}

.explore__playarea {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.explore__playarea--with-goals {
  width: 80%;
}

.explore-card {
  text-align: center;
}
.explore-card--current {
  position: relative;
}

#root .bg-ambush {
  background: #68427f;
}

#root .bg-ruin {
  background: #524f4c;
}

.explore-container {
  display: flex;
  width: 100%;
}

.explore-goals {
  width: 20%;
}

.explore-goal {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 4px;
  display: flex;
}
.explore-goal--left {
  flex-direction: row;
}
.explore-goal--left .icons {
  padding-right: 8px;
}
.explore-goal--right {
  flex-direction: row-reverse;
  padding-left: 8px;
}
.explore-goal--right .icons {
  padding-left: 8px;
}
.explore-goal .effect {
  align-self: center;
}
